{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
  {% if username %}
    <div class="panel-heading">{{ tr('title/password-change-user', username) }}</div>
  {% else %}
    <div class="panel-heading">{{ tr('title/password-change') }}</div>
  {% endif %}
  <div class="panel-body">
      {% if username %}
        <form class="" role="form" action="{{ route('password_for_user', { username: username }) }}" method="post">
      {% else %}
        <form class="" role="form" action="{{ route('password') }}" method="post">
      {% endif %}
      {% if not username %}
        <div class="form-group">
          <label for="password-old">{{ tr('label/password-old') }}:</label>
          <input type="password" class="form-control" name="password-old" id="password-old" />
        </div>
      {% endif %}
      <div class="form-group">
        <label for="password-new1">{{ tr('label/password-new1') }}:</label>
        <input type="password" class="form-control" name="password-new1" id="password-new1" />
      </div>
      <div class="form-group">
        <label for="password-new2">{{ tr('label/password-new2') }}:</label>
        <input type="password" class="form-control" name="password-new2" id="password-new2" />
      </div>
      
      <button type="submit" class="btn btn-primary">{{ tr('label/password-change') }}</button>
    </form>
  </div>
</div>

{% endblock content %}
